@import "tailwindcss";

@theme {
  --color-*: initial;
  --color-white: #ffffff;
  --color-gray-100: #F5F4F5;
  --color-gray-200: #B2AFB6;
  --color-gray-300: #98959D;
  --color-gray-400: #7A767F;
  --color-gray-500: #3E3C41;
  --color-gray-600: #2E2C30;
  --color-gray-700: #232225;
  --color-gray-800: #19181B;
  --color-gray-900: #050505;

  --color-yellow-light: #DBC170;
  --color-yellow: #B8952E;
  --color-yellow-dark: #846F2E;

  --font-sans: "Catamaran", sans-serif;
}

html,
body,
#root {
  min-height: 100%;
}

body {
  margin: 0;
  padding: 12px;
  background-color: #19181B;
}

.date-picker-dark {
  background-color: #2E2C30 !important;
  border-color: #3E3C41 !important;
  color: #B2AFB6 !important;
  font-family: "Catamaran", sans-serif;
}

.date-picker-dark .react-datepicker__header {
  background-color: #232225;
  border-bottom-color: #3E3C41;
}

.date-picker-dark .react-datepicker__current-month,
.date-picker-dark .react-datepicker-time__header,
.date-picker-dark .react-datepicker-year-header,
.date-picker-dark .react-datepicker__day-name {
  color: #F5F4F5;
}

.date-picker-dark .react-datepicker__day,
.date-picker-dark .react-datepicker__time-name {
  color: #FFFFFF;
}

.date-picker-dark .react-datepicker__day--disabled {
  color: #B2AFB6;
  cursor: not-allowed;
}

.date-picker-dark .react-datepicker__day:hover,
.date-picker-dark .react-datepicker__month-text:hover,
.date-picker-dark .react-datepicker__quarter-text:hover,
.date-picker-dark .react-datepicker__year-text:hover {
  background-color: #3E3C41;
  color: #B2AFB6;
}

.date-picker-dark .react-datepicker__day--selected,
.date-picker-dark .react-datepicker__day--keyboard-selected {
  background-color: #B8952E;
  color: #FFFFFF;
}

.date-picker-dark .react-datepicker__navigation-icon::before {
  border-color: #B2AFB6;
}